<!DOCTYPE HTML>
<html>
<head>
    <title >${title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/iot-cloud.js"></script>
</head>
<body>
<%  include("fragment/topmenu.html"){} %>
<div class="container">
    <p>${msg !}</p>
    <% if (redirect!=null){ %>
    <a href="${redirect !}">跳转链接</a>
    <% } %>
</div>
</body>
</html>